<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleName</key>
	<string>DisEQ</string>
	<key>CFBundleIdentifier</key>
	<string>com.koshka.DisEQ.driver</string>
	<key>CFBundleExecutable</key>
	<string>DisEQ</string>
	<key>CFBundleVersion</key>
	<string>0.1.0</string>
	<key>CFBundleShortVersionString</key>
	<string>0.1.0</string>
	<key>CFBundlePackageType</key>
	<string>BNDL</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>LSMinimumSystemVersion</key>
	<string>14.0</string>

	<!-- coreaudiod refuses to load a HAL plug-in without this. -->
	<key>CFPlugInFactories</key>
	<dict>
		<key>98959986-1529-456B-BCAB-CEC8A11071C0</key>
		<string>DisEQ_Create</string>
	</dict>

	<!-- 443ABAB8-… is kAudioServerPlugInTypeUUID. -->
	<key>CFPlugInTypes</key>
	<dict>
		<key>443ABAB8-E7B3-491A-B985-BEB9187030DB</key>
		<array>
			<string>98959986-1529-456B-BCAB-CEC8A11071C0</string>
		</array>
	</dict>

	<!-- Without this coreaudiod will not load the bundle at all. -->
	<key>sandboxSafe</key>
	<true/>
</dict>
</plist>
